.gallery__button_right{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../../../images/icons/arrow_right.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(2px);
  border: 0;
  top: 45%;
  right: 20px;
  font-size: 350%;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  width: 50px;
  height: 70px;
}