.lead{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  backdrop-filter: blur(5px);
  background-image: url("../../images/pound01.JPG");

}