.first-article__image-container{
  display: grid;
  border-radius: 15px;
  border: 0;
  padding: 0;
  transition: all 0.2s ease-out;
}

.first-article__image-container:hover{
  box-shadow: 0 0 15px black;
  transform: scale(1.05);
  opacity: 0.8;
}

.first-article__image-container:hover .first-article__image-text{
  color: white;
  background: darkgreen;
}