:root{
  --green : rgb(153, 192, 148);
  --mainFont: 'Caveat', Caveat, sans-serif;
  --additionalFont : 'Comfortaa', Comfortaa, sans-serif;
  --sizeText: 100%;
}

@media (max-width: 1000px) {
  :root{
    --sizeText: 85%;
  }
}

@media (max-width: 1000px) {
  :root{
    --sizeText: 70%;
  }
}

.root{
  color: black;
  font-family: var(--mainFont);
  font-size: var(--sizeText);
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


