.underlead{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  font-family: var(--additionalFont);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 100%;
  padding: 0;
  margin: 0;
}