@import url(../vendor/normalize.css);
@import url(../vendor/fonts/caveat/stylesheet.css);
@import url(../vendor/fonts/comfortaa/stylesheet.css);

@import url(../blocks/root/root.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__fixed-menu/header__fixed-menu.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__li/header__li.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__undertitle/lead__undertitle.css);

@import url(../blocks/social/social.css);
@import url(../blocks/social/__li/social__li.css);
@import url(../blocks/social/__link/social__link.css);
@import url(../blocks/social/__image/social__image.css);
@import url(../blocks/social/__paragraph/social__paragraph.css);

@import url(../blocks/underlead/underlead.css);
@import url(../blocks/underlead/__text/underlead__text.css);
@import url(../blocks/underlead/container/underlead__container.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__button/gallery__button_left.css);
@import url(../blocks/gallery/__button/gallery__button_right.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__list/about__list.css);
@import url(../blocks/about/__list-item/about__list-item.css);

@import url(../blocks/about-us/about-us.css);
@import url(../blocks/about-us/__paragraph/about-us__paragraph.css);
@import url(../blocks/about-us/__title/about-us__title.css);
@import url(../blocks/about-us/__container/about-us__contanier.css);
@import url(../blocks/about-us/__caption/about-us__caption.css);

@import url(../blocks/weekend/weekend.css);
@import url(../blocks/weekend/__caption/weekend__caption.css);
@import url(../blocks/weekend/__title/weekend__title.css);
@import url(../blocks/weekend/__list/weekend__list.css);
@import url(../blocks/weekend/__case/weekend__case.css);
@import url(../blocks/weekend/__case-image/weekend__case-image.css);
@import url(../blocks/weekend/__case-title/weekend__case-title.css);
@import url(../blocks/weekend/__case-list-item/weekend__case-list-item.css);
@import url(../blocks/weekend/__case-text-container/weekend__case-text-container.css);
@import url(../blocks/weekend/__articles/weekend__articles.css);

@import url(../blocks/weekend/__cost/weekend__cost.css);
@import url(../blocks/weekend/__cost-list/weekend__cost-list.css);
@import url(../blocks/weekend/__cost-list-item/weekend__list-item.css);
@import url(../blocks/weekend/__cost-list/weekend__cost-list.css);
@import url(../blocks/weekend/__cost-title/weekend__cost-title.css);
@import url(../blocks/weekend/__cost-text/weekend__cost-text.css);
@import url(../blocks/weekend/__social/weekend__social.css);

@import url(../blocks/full/full.css);
@import url(../blocks/full/__list/full__list.css);
@import url(../blocks/full/__title/full__title.css);
@import url(../blocks/full/__list-item/full__list-item.css);
@import url(../blocks/full/__text/full__text.css);
@import url(../blocks/full/__tables/full__tables.css);
@import url(../blocks/full/__table/full__table.css);
@import url(../blocks/full/__table-list/full__table-list.css);
@import url(../blocks/full/__table-list-item/full__table-list-item.css);
@import url(../blocks/full/__table-title/full__table-title.css);
@import url(../blocks/full/__social/full__social.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/reveal/reveal.css);

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
  transition: opacity 1s ease-out;
  cursor: pointer;
}

a:hover{
  opacity: 0.6;
}

button{
  cursor: pointer;
  transition: opacity 1s ease-out;
}

button:hover{
  opacity: 0.6;
}

::-webkit-scrollbar{
  width : 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.3);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.36);
}