.header__menu{
  width: 300px;
  box-shadow: 0 0 5px black;
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: -20%;
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  background-color: white;
}