.about-us{
  font-family: var(--additionalFont);
  padding: 5px 0 25px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../images/backgrounds/01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}