.first-article__image-text{
  font-weight: 300;
  font-size: 25px;
  color: black;
  letter-spacing: 3px;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  background-color: white;
  display: block;
  box-sizing: border-box;
  width: 100%;
  justify-self: center;
  padding-left: 15px ;
  z-index: 2;
  transition: all 0.2s ease-out;
  overflow: hidden;
  height: 25px;
  text-align: left;
}