.header{
  position: fixed;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: white;
  width: 100%;
  max-width: 1280px;
  z-index: 5;
}