.header{
  top: 0;
  left: -10px;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: var(--green);
  padding: 10px;
  font-size: 130%;
}

@media (max-width: 1280px) {
  .header{
    box-shadow: 0 0 5px black;
  }
}