.header__button{
  background-color: transparent;
  border: 0;
  color: black;
  font-weight: 800;
  font-size: 150%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header__button:hover .header__menu{
  visibility: visible;
  opacity: 1;
}

.header__button:hover{

}